
.image {
    width: 104px;
    height: 91px;
}

.navbar {
    background-color: #EBE9DB;
}

.nav {
    padding-right: 100px;
}

.link-font{
    font-family: 'Changa One', sans-serif;
    color: black;
    font-size: 30px;
    
}

.image-banner{
    width: 600px;
    height: 569px;
    margin-left: 200px;
    
}

.text-banner {
    font-family: 'Changa One', sans-serif;
    margin-left:250px;
    font-size: 42px;
    padding-left: 10px;
}

.div-main{
    margin-top: 100px;
}

.card-dogs {
    padding-top: 8%;
    padding-left: 5%;
   
    
    
}

.div-buttons {
    padding-top: 20px;

    flex-direction: row;
    
    
}

.button-adotar, .button-cadastrar {
    width: 300px;
    height: 57px;
    border-radius: 30px;
    margin-right: 10px;
    font-family: 'Changa One', sans-serif;
    color: black;
    font-size: 30px;
}

.button-cadastrar {
    font-size: 23px;
}

.div-carrosel {
    margin-left: 85px;
    
}

.carousel-inner {
    border-radius: 10px;
}

