   <div class="row mx-0">
    <div class="col-6 div-main">
      <h2 class="text-banner">ADOTE SEU MELHOR AMIGO HOJE!</h2>
      <img class="image-banner" src="../assets/banner.jpg" alt="">
    </div>
    <div class="col-6 card-dogs">
      <div class="row">
        <div class="col-6 div-carrosel">
          <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="3500">
                <img src="../assets/vira1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="3500">
                <img src="../assets/vira2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="3500">
                <img src="../assets/vira3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="row div-buttons">
          <button class="col-5 button-adotar">ADOTAR</button>
          <button class="col-5 button-cadastrar">CADASTRE PARA ADOÇÃO</button>
        </div>
      </div>
    </div>
  </div>
