<section class="body card shadow">
    <div class="card-body">
      <h1 class="card-title mb-1 mt-2">REGISTRO</h1>
      <div>
        <div class="row mb-3">
            <div class="col-12 email-control">
                <label for="email">NOME: </label>
                <input [(ngModel)]="requestUser.name" type="text" id="nome" pInputText class="form-control" placeholder="DIGITE SEU NOME">
            </div>

            
          <div class="col-12 email-control">
            <label for="email">EMAIL: </label>
            <input [(ngModel)]="requestUser.email" type="text" id="email" pInputText class="form-control" placeholder="DIGITE SEU EMAIL">
          </div>
          <div class="col-12 password-control">
            <label for="password">SENHA: </label>
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="requestUser.password" pInputText class="form-control" [placeholder]="showPassword? 'DIGITE SUA SENHA': '*****'">
              <div class="input-group-text cursor-pointer" (click)="toggleShowPassword()">
                <i class="fa-solid" [ngClass]="showPassword? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
              </div>
            </div>
          </div>
          <div class="col-12 password-control">
            <label for="password">CONFIRMAR SENHA: </label>
            <div class="input-group">
              <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="requestUser.confirmpassword" pInputText class="form-control" [placeholder]="showConfirmPassword? 'DIGITE SUA SENHA': '*****'">
              <div class="input-group-text cursor-pointer" (click)="toggleShowConfirmPassword()">
                <i class="fa-solid" [ngClass]="showConfirmPassword? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
              </div>
            </div>
          </div>
          <div class="row button-control">
            <div class="col-12 pt-2">
              <button (click)="doRegister()" class="btn btn-success button-size">CADASTRAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
