<nav class="navbar">
    <div class="container-fluid pr-4">
      <img class="image" src="../assets/logo.jpg" alt="">
      <ul class="nav ">
        <li class="nav-item ">
          <a class="nav-link link-font" href="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-font" href="dologin">ENTRAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-font" href="doRegister">CADASTRAR</a>
        </li>
      </ul>
    </div>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
